body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #111;
  }
  
  .container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 5px;
  }
  
  .date {
    color: #666;
    margin-bottom: 20px;
  }
  
  .card {
    background: #2f80ff;
    border-radius: 16px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .card  img {
    width: 400px;
  }
  
  .icon {
    font-size: 80px;
    color: white;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 22px;
    margin-top: 25px;
  }
  
  .text {
    color: #444;
    line-height: 1.6;
    font-size: 14px;
  }
  